/* Header.css */
/* Header.css */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s, opacity 0.3s; /* Add a smooth transition effect */
  z-index: 1000;
}

.fixed-header.scrolled {
  background-color: rgba(45, 45, 45, 0.9); /* Add the desired background color with opacity */
  opacity: 0.8; /* Add the desired opacity */
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    flex: 0; /* Take minimum space needed */
  }
  
  .logo {
    max-width: 80px;
    height: auto;
    border-radius: 50%;
  }
  
  .header-content {
    flex: 1; /* Take the remaining available space */
    text-align: right;
  }
  
  /* Remove bullets from the ul */
  .header-content ul {
    list-style-type: none;
  }
  
  /* Style your list items */
  .header-content li {
    display: inline-block;
    margin-left: 15px;
    /* Add more styling as needed */
  }

  /* Header.css */
.nav-button {
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  background-color: transparent; /* Set background color to transparent */
  color: red;
  transition: color 0.3s; /* Add a smooth transition for color change */
  font-weight: bold;
}

.nav-button:hover {
  color: #333;
}


  