/* App.css */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling for the entire page */
    background-size: auto; /* Adjust based on your preference */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Add a parallax effect */
  }
  
  .app-container {
    position: relative;
    z-index: 1; /* Ensure the content is above the background */
  }
  
  /* Other styles for your content */
  